# @see https://github.com/laravel/laravel/blob/11.x/.env.example for possible values
APP_KEY=

MERCADO_LIVRE_API_URL=https://api.mercadolibre.com
MERCADO_LIVRE_CLIENT_ID=
MERCADO_LIVRE_CLIENT_SECRET=
MERCADO_LIVRE_REDIRECT_URI=
